* {
  font-family: Arial, Helvetica, sans-serif;
}

label {
  display: inline-block;
  margin: 0 1rem 1rem 0;
}

input,
select {
  font-size: 1.25rem;
  display: block;
  max-width: 7rem;
  padding: 0.75rem 1.25rem;
}

[type="submit"] {
  max-width: 10rem;
}
